.pokemon-card img {
  width: 90px; /* Ajusta el tamaño de la imagen */
  height: auto;
  border-radius: 5px;
}

.pokemon-card h4 {
  font-size: 12px;
  margin: 5px 0;
}

.pokemon-card p {
  font-size: 10px;
}

.add-pokemon {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.add-pokemon input {
  margin-right: 10px;
  padding: 5px;
}

.add-pokemon button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.add-pokemon button:hover {
  background-color: #45a049;
}
